.main{
    display: flex;
    background-color: aqua;
    height: 85.5vh;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    border-radius: 20px;
    opacity: 0;
    transition: 0.5s;
}

.main.active{
    opacity: 1;
}

canvas{
    border: 1px solid black;
}