<div class="nav">
  <div class="logo">
    <a routerLink="/"><img src="/post'hit_logo.png" alt="post'hit_logo"></a>
  </div>
  <div class="links">
    <ul>
      <app-searcbar></app-searcbar>
       <app-link link_icon="fa-solid fa-magnifying-glass" (click)="useSearch()"></app-link>
       <div class="icons">
        <app-link link_text="Shop" link_url="/FullShop"></app-link>
        <app-link link_text="Login" (click)="userForm()" *ngIf="!isLoggedIn()" ></app-link>
        <p>{{username()}}</p>
        <app-link link_icon="fa-solid fa-cart-shopping" link_url="/cart"></app-link>
        <app-link link_icon="fa-solid fa-heart"></app-link>
        <button *ngIf="isLoggedIn()" (click)="logout()" class="logout-btn">Se déconnecter</button>
      </div>
      <div class="mobilIcons">
        <app-link link_icon="fa-solid fa-bars" (click)="ShowMenu()"></app-link>
      </div>
    </ul>
  </div>
</div>
