.themecontainer{
    display: flex;
    gap: 10px;
    padding: 10px;
    overflow-x: scroll;
    border-radius: 20px;
    margin: 5px 10px;
    opacity: 0;
    transition: 0.5s;
}

.themecontainer.active{
    opacity: 1;
}

.theme{
    display: flex;
    width: 200px;
    height: 100px;
    background-color: rgb(255, 245, 226);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.5s;
    aspect-ratio: 1/1;
}

.theme:hover{
    transform: scale(1.1);
    cursor: pointer;
}